<xf:if is="!$providerData">
	<xf:macro template="connected_account_provider_test_macros" name="explain"
			  arg-providerTitle="{$provider.title}"
			  arg-keyName="{{ phrase('option.nfSteamApiKey') }}"
			  arg-keyValue="{$provider.options.steam_api_key}" />
<xf:else />
	<xf:macro template="connected_account_provider_test_macros" name="success" />

	<xf:macro template="connected_account_provider_test_macros" name="display_name"
			  arg-name="{$providerData.personaname}"
			  arg-secondaryName="{{ parens($providerData.realname) }}" />

	<xf:macro template="connected_account_provider_test_macros" name="picture"
			  arg-url="{$providerData.avatarmedium}" />

</xf:if>